html, body {
	height: 100%;
	background-color: #0A0C1B;
	text-align: center;
	font-family: 'Inconsolata', monospace;
}

body {
	color: #fff;
}

a, a:focus,a:hover {
	color: #fff;
}

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.inner {
	padding: 2rem;
}

.cover {
	padding: 0 1.5rem;
}
.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: 700;
}

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

@-moz-keyframes typing { from { width: 0; } }
@-moz-keyframes blink-caret { 50% { border-color: transparent; } }

h2 {
	margin:  0 auto;
	color:  #39FF14;
	font: bold 300%;
	border-right: .1em solid #39FF14;
	width: 11em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation:	typing 1.5s steps(35, end),
						blink-caret .5s step-end infinite alternate;
	-moz-animation:		typing 1.5s steps(35, end),
						blink-caret .5s step-end infinite alternate;
}

.fa {
	margin: 15px;
}

@keyframes fadein {
	0% {opacity:0 }
	80% {opacity:0 }
	100% {opacity:1 }
}

@-webkit-keyframes fadein {
	0% {opacity:0 }
	80% {opacity:0 }
	100% {opacity:1 }
}

@-moz-keyframes fadein {
	0% {opacity:0 }
	80% {opacity:0 }
	100% {opacity:1 }
}

.i1 {
	animation:3s ease 0s normal forwards 1 fadein;
	-webkit-animation:3s ease 0s normal forwards 1 fadein;
	opacity:1
}

.i2 {
	animation:4s ease 0s normal forwards 1 fadein;
	-webkit-animation:4s ease 0s normal forwards 1 fadein;
	opacity:1
}

.i3 {
	animation:5s ease 0s normal forwards 1 fadein;
	-webkit-animation:5s ease 0s normal forwards 1 fadein;
	opacity:1
}

.i4 {
	animation:6s ease 0s normal forwards 1 fadein;
	-webkit-animation:6s ease 0s normal forwards 1 fadein;
	opacity:1
}

img {
	width: 60px;
	margin-bottom: 10px;
}