.bg-primary {
	background-color: #2980b9 !important;
}

li:not(.nav-item) {
	padding-top: 15px;
}

ul li:not(.nav-item):first-child {
	padding-top: 0px;
}

small {
	font-style: italic;
	color: #95a5a6;
}

.pbottom {
	padding-bottom:  30px;
}